*{
    margin: 0px;
    padding: 0px;
}
:root
{
    --dark:#4f4949;
    --red:red;
    --pur:#A020F0;
    --bal:#000000FF;
}
body
{
    background-color: #3c3838;
}
#main
{
    position: relative;
    height: 100vh;
    
}
#sub
{  
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 1fr;

}
.sub1
{

display: grid;
grid-template-columns:1fr;
grid-template-rows:1fr 4fr;

}
.sub2
{
  
   display: flex;
   justify-content: center;
   align-items: center;

}
.search_bar
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.serach
{   
    background-color:transparent;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(255, 255, 255);
    
}





#serach_1
{ 
  background-color: transparent;
  width: 30vw;
  height: 5vh;
  outline: none;
  border-color: transparent;
  font-size: 20px;
  font-weight: 700;
  box-sizing: border-box;
  color:rgb(255, 255, 255);
  padding: 10px;

  
}
#serach_1::-webkit-input-placeholder
{
    color: rgb(215, 214, 214);
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 700;
}
.serach img
{
    height: 25px;
    box-sizing: border-box;
   
    
    
}



.content_bar
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.stor
{
   
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y:auto;
}
.stor::-webkit-scrollbar {
    display: none;
  }
  

 

.card
{
    border-bottom: 2px solid black;
    height: 10%;
    min-height: 10%;
    max-height: 0px;
    width: 60%;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
   
    
    
}
.poster1
{
    height: 50px;
   border-radius: 50%;
  
}

.name2
{
    color: rgb(255, 255, 255);
    font-size: 20px;
  
   outline: none;
   border-color: transparent;
   text-align: center;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   background-color: transparent;
}
.artites
{
    background-color:transparent;
   outline: none;
    color: rgb(255, 255, 255);
    border-color: transparent;
    text-align: center;
    width: 40%;
}

/* player cssssss */
.player{
    background-color:rgb(21, 20, 20);
     height: 50%;
     width: 70%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     transition-duration: 0.3s;
     box-sizing: border-box;
     border-radius: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.314);
}

.theme
{
  height: 220px;
  border-radius: 5px;
 
}
.foter
{
 
 height: 100px;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 
}
.ione
{
    
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa-backward,.fa-forward
{
    
    font-size: 15px;
    color: rgb(255, 248, 248);
}
.paly_pous
{
    background-color: rgba(255, 255, 255, 0.977);
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.paly_pous i
{
    color: rgb(0, 0, 0);
}
.fa-pause
{
    visibility: hidden;
}
.rang
{
  
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.rang input {
    -webkit-appearance: none;
    appearance: none;
    background:rgb(185, 182, 182) ;
    cursor: pointer;
    width: 20rem;
    height: 1px;
  
}
.rang input::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

@media (max-width:1500px)
{
    
    #sub
    {  
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows:2fr 1fr;
    
    }



    .player{
        background-color:rgb(21, 20, 20);
         height: 65%;
         width: 70%;
         display: grid;
         grid-template-columns: 1fr 2fr;
         grid-template-rows: 1fr;
         transition-duration: 0.3s;
         box-sizing: border-box;
         border-radius: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.314);
    }
    
    .theme
    {
      height: 100px;
      border-radius: 5px;
     margin-left: 20px;
    }
    .foter
    {
     height: 100px;
     width: 90%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
    }
    .ione
    {
        
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .fa-backward,.fa-forward
    {
        
        font-size: 15px;
        color: rgb(255, 248, 248);
    }
    .paly_pous
    {
        background-color: rgba(255, 255, 255, 0.977);
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    
    .paly_pous i
    {
        color: rgb(0, 0, 0);
    }
    .fa-pause
    {
        visibility: hidden;
    }
    .rang
    {
      
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .rang input {
        -webkit-appearance: none;
        appearance: none;
        background:rgb(185, 182, 182) ;
        cursor: pointer;
        width: 20rem;
        height: 1px;
      
    }
    .rang input::-webkit-slider-thumb
    {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
    
    
    
.content_bar
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.stor
{
   
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y:auto;
}
.stor::-webkit-scrollbar {
    display: none;
  }
  

 

.card
{
    border-bottom: 1.3px solid black;
    height: 8%;
    min-height: 8%;
    max-height: 0px;
    width: 40%;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
   
    
    
}
.poster1
{
    height: 40px;
   border-radius: 50%;
  
}

.name2
{
    color: rgb(0, 0, 0);
    font-size: 15px;
  
   outline: none;
   border-color: transparent;
   text-align: center;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   background-color: transparent;
}
.artites
{  font-size: 12px;
    background-color:transparent;
   outline: none;
    color: rgb(0, 0, 0);
    border-color: transparent;
    text-align: center;
    width: 40%;
}
    

}



@media (max-width:540px)
{
    
    #sub
    {  
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows:2fr 1fr;
    
    }
      


    .player{
        background-color:rgb(21, 20, 20);
         height: 65%;
         width: 70%;
         display: grid;
         grid-template-columns: 1fr 2fr;
         grid-template-rows: 1fr;
         transition-duration: 0.3s;
         box-sizing: border-box;
         border-radius: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.314);
    }
    
    .theme
    {
      height: 60px;
      border-radius: 5px;
     margin-left: 20px;
    }
    .foter
    {
     height: 100px;
     width: 90%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
    }
    .ione
    {
        
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .fa-backward,.fa-forward
    {
        
        font-size: 15px;
        color: rgb(255, 248, 248);
    }
    .paly_pous
    {
        background-color: rgba(255, 255, 255, 0.977);
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    
    .paly_pous i
    {
        color: rgb(0, 0, 0);
    }
    .fa-pause
    {
        visibility: hidden;
    }
    .rang
    {
      
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .rang input {
        -webkit-appearance: none;
        appearance: none;
        background:rgb(185, 182, 182) ;
        cursor: pointer;
        width: 20rem;
        height: 1px;
      
    }
    .rang input::-webkit-slider-thumb
    {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
    
    
    
.content_bar
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.stor
{
   
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y:auto;
}
.stor::-webkit-scrollbar {
    display: none;
  }
  

 

.card
{
    border-bottom: 1.3px solid black;
    height: 8%;
    min-height: 8%;
    max-height: 0px;
    width: 40%;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
   
    
    
}
.poster1
{
    height: 40px;
   border-radius: 50%;
  
}

.name2
{
    color: rgb(0, 0, 0);
    font-size: 15px;
  
   outline: none;
   border-color: transparent;
   text-align: center;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   background-color: transparent;
}
.artites
{  font-size: 12px;
    background-color:transparent;
   outline: none;
    color: rgb(0, 0, 0);
    border-color: transparent;
    text-align: center;
    width: 40%;
}
    

}


@media (max-width:420px)
{
    
    #sub
    {  background-color: var(--dark);
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows:2fr 1fr;
    
    }

  .sub2
  {
    background-color:var(--dark);
  }
  body
  {
    background-color:var(--dark);
  }

    .player{
        background-color:rgb(21, 20, 20);
         height: 65%;
         width: 70%;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows:  1fr 2fr;
         transition-duration: 0.3s;
         box-sizing: border-box;
         border-radius: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.314);
    }
    
    .theme
    {
      height: 100px;
      border-radius: 5px;
     margin-left: 140px;
    }
    .foter
    {
     height: 80px;
     width: 70%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     margin-left: 60px;
    }
    .ione
    {
        
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .fa-backward,.fa-forward
    {
        
        font-size: 15px;
        color: rgb(255, 248, 248);
    }
    .paly_pous
    {
        background-color: rgba(255, 255, 255, 0.977);
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    
    .paly_pous i
    {
        color: rgb(0, 0, 0);
    }
    .fa-pause
    {
        visibility: hidden;
    }
    .rang
    {
      
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .rang input {
        -webkit-appearance: none;
        appearance: none;
        background:rgb(185, 182, 182) ;
        cursor: pointer;
        width: 20rem;
        height: 1px;
      
    }
    .rang input::-webkit-slider-thumb
    {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
    
    
    
.content_bar
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.stor
{
   
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y:auto;
}
.stor::-webkit-scrollbar {
    display: none;
  }
  

 

.card
{
    border-bottom: 1.3px solid black;
    height: 8%;
    min-height: 8%;
    max-height: 0px;
    width: 40%;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
   
    
    
}
.poster1
{
    height: 40px;
   border-radius: 50%;
  
}

.name2
{
    color: rgb(0, 0, 0);
    font-size: 15px;
  
   outline: none;
   border-color: transparent;
   text-align: center;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   background-color: transparent;
}
.artites
{  font-size: 12px;
    background-color:transparent;
   outline: none;
    color: rgb(0, 0, 0);
    border-color: transparent;
    text-align: center;
    width: 40%;
}
    

}

@media (max-height:690px)
{
    #sub
{  
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 2fr;
 
}
    .player{
        background-color:rgb(21, 20, 20);
         height: 60%;
         width: 70%;
         display: grid;
         grid-template-columns: 1fr 2fr;
         grid-template-rows: 1fr;
         transition-duration: 0.3s;
         box-sizing: border-box;
         border-radius: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.314);
    }
    
    .theme
    {
      height: 70px;
      border-radius: 5px;
     
    }
    .foter
    {
     
     height: 60px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
    }
    .ione
    {
        
        width: 80%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .fa-backward,.fa-forward
    {
        
        font-size: 10px;
        color: rgb(255, 248, 248);
    }
    .paly_pous
    {
        background-color: rgba(255, 255, 255, 0.977);
        box-sizing: border-box;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    
    .paly_pous i
    {
        color: rgb(0, 0, 0);
    }
    .fa-pause
    {
        visibility: hidden;
    }
    .rang
    {
      
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .rang input {
        -webkit-appearance: none;
        appearance: none;
        background:rgb(185, 182, 182) ;
        cursor: pointer;
        width: 20rem;
        height: 1px;
      
    }
    .rang input::-webkit-slider-thumb
    {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
}

@media (max-width:376px)
{
    
    #sub
    {  background-color: white;
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows:2fr 1fr;
    
    }

  .sub2
  {
    background-color:white;
   
  }
  body
  {
    background-color:white;
  }

    .player{
        background-color:rgb(21, 20, 20);
         height: 75%;
         width: 70%;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows:  1fr 2fr;
         transition-duration: 0.3s;
         box-sizing: border-box;
         border-radius: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.314);
    }
    
    .theme
    {
      height: 100px;
      border-radius: 5px;
     margin-left: 140px;
    }
    .foter
    {
     height: 80px;
     width: 70%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     margin-left: 60px;
    }
    .ione
    {
        
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .fa-backward,.fa-forward
    {
        
        font-size: 15px;
        color: rgb(255, 248, 248);
    }
    .paly_pous
    {
        background-color: rgba(255, 255, 255, 0.977);
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    
    .paly_pous i
    {
        color: rgb(0, 0, 0);
    }
    .fa-pause
    {
        visibility: hidden;
    }
    .rang
    {
      
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .rang input {
        -webkit-appearance: none;
        appearance: none;
        background:rgb(185, 182, 182) ;
        cursor: pointer;
        width: 20rem;
        height: 1px;
      
    }
    .rang input::-webkit-slider-thumb
    {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
    
    
    
.content_bar
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.stor
{
   
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y:auto;
}
.stor::-webkit-scrollbar {
    display: none;
  }
  

 

.card
{
    border-bottom: 1.3px solid black;
    height: 8%;
    min-height: 8%;
    max-height: 0px;
    width: 40%;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
   
    
    
}
.poster1
{
    height: 40px;
   border-radius: 50%;
  
}

.name2
{
    color: rgb(0, 0, 0);
    font-size: 15px;
  
   outline: none;
   border-color: transparent;
   text-align: center;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   background-color: transparent;
}
.artites
{  font-size: 12px;
    background-color:transparent;
   outline: none;
    color: rgb(0, 0, 0);
    border-color: transparent;
    text-align: center;
    width: 40%;
}
    

}
